/* Mona Sans variable font */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mona Sans';
  src:
    url('../fonts/MonaSansVF[wdth,wght,opsz]-subset.woff2') format(woff2) tech(variations);
  font-weight: 200 900;
  font-stretch: 75% 125%;
  text-decoration-thickness: 0.15rem;
  font-optical-sizing: auto;
}
