/* Mona Sans variable font */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mona Sans';
  src:
    url('../fonts/MonaSansVF-Regular.woff2') format('woff2 supports variations'),
    url('../fonts/MonaSansVF-Regular.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
