/* Mona Sans variable font */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mona Sans';
  src:
    url('../fonts/MonaSansVF[wdth,wght,opsz]-subset.woff2') format(woff2) tech(variations);
  font-weight: 200 900;
  font-stretch: 75% 125%;
  text-decoration-thickness: 0.15rem;
  font-optical-sizing: auto;
}

/* Mona Sans fallback
  Major culprit for high CLS is desktop navbar with it's condensed type.
  To lower CLS, we define this fallback font with local buit-in condensed fonts.
  Windows: Arial Narrow
  Mac: Helvetica Neue Condensed
  Linux: Liberation Sans Narrow
*/
@font-face {
  font-family: 'mona-sans-fallback';
  src: local('Helvetica Neue Condensed'), local('Arial Narrow'), local('Liberation Sans Narrow');
}
