@import "tailwindcss";

/* pick classes from hugo build */
@source "./hugo_stats.json";
@source "./public/js";

@import "./fonts.css";
/* @import "./prose.css"; */
@plugin "@tailwindcss/typography";

@custom-variant aria-current (&:where([aria-current]));
@custom-variant viewport-scroll ( &:where(.viewport-scroll, .viewport-scroll *));

/* main :focus {
  outline: 4px dotted var(--color-primary, #009ed0) !important;
  outline-offset: 2px;
} */

@custom-variant hero (&:where(.hero, .hero *));

@theme {
  --font-sans:
    "Mona Sans", system-ui, sans-serif; /* referenced by --default-font-family */
  --default-font-feature-settings: 'liga' 1, 'calt' 1; /* Inter fix for Chrome */
  --color-orange-300: #f56642;
  --color-blue-100: #427bf5;
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-green-800: #3f6212;
  --color-green-900: #365314;
  --color-green-950: #1a2e05;

  /* colores etheria */
  --color-primary: #009ed0;
  --color-primary-50: #f0fbff;
  --color-primary-100: #e0f6fe;
  --color-primary-200: #baedfd;
  --color-primary-300: #7ddafc;
  --color-primary-400: #38c8f8;
  --color-primary-500: #0eb6e9;
  --color-primary-600: #009ed0;
  --color-primary-700: #0377a1;
  --color-primary-800: #076185;
  --color-primary-900: #0c516e;
  --color-primary-950: #083449;


  --animate-slide-top: slide-top 0.8s ease;

  @keyframes slide-top {
    0% {
      transform: translateY(40px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  --dashed-border: var(--color-slate-200);
}

@layer base {
  html {
    font-size: 18px;
    --my-max-w: 1200px;
  }

  [data-scroll-observer] {
    position: relative;
    top: -20px;
  }

  img {
    @apply rounded-xl;
  }
  :target {
    scroll-margin-top: 105px;
  }

  mark {
    @apply border-b-primary-600 border-b-3 text-primary-600 inline border-dashed bg-inherit font-bold;
  }

  @supports (-moz-appearance: none) {
    * {
      text-decoration-thickness: 0.08rem !important;
    }
  }
}

@layer components {
  .story-grid {
    --story-grid-cols: 1;

    @apply grid-cols-(--story-grid-cols) grid;
    /* @apply grid-flow-row-dense; */

    @variant md {
      --story-grid-cols: repeat(10, minmax(0, 1fr)) 1fr 240px;

      :where(& > :not(aside, header)) {
        grid-column: 1 / 11;
      }

      :where(& > header) {
        grid-column: 1 / 13;
      }

      :where(& > aside) {
        grid-column: 12;
      }
    }
  }
}

@property --dismiss-value {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

@utility dismiss-* {
  --dismiss-color: --alpha(#fff / 30%);
  background-image: linear-gradient(90deg, var(--dismiss-color), --alpha(#fff / 30%) var(--dismiss-value), rgba(255,255,255,0) var(--dismiss-value), rgba(255,255,255,0));
  animation: dismiss-animation --value(integer)s ease-out;
}

@keyframes dismiss-animation {
  0% { --dismiss-value: 100%; }
  100% { --dismiss-value: 0%; }
}


@layer components {
  .dialog-open {
    @apply after:z-29 overflow-hidden after:fixed after:inset-0 after:bg-[#0003] after:backdrop-blur-sm;
  }
}

@utility dashed-border {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    var(--dashed-border),
    var(--dashed-border) 50%,
    transparent 0,
    transparent
  );
  background-size: 8px 1px;
}

@utility lead {
  @apply text-lg font-medium;
}

@utility drop-cap {
  &:first-letter {
    @apply float-left ml-0 mr-4 mt-3 text-[8em] uppercase leading-[0.7];
  }
}

@utility font-overlay {
  @apply font-stretch-85% font-medium tracking-tight;
}

@utility font-title-overlay {
  @apply font-medium font-stretch-92%;
}

@utility text-shadow-cartoon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-shadow:
    0px 0px  2px rgba(26, 16, 38,.1),
    0px 0px 10px rgba(26, 16, 38,.6),
    0px 0px 20px rgba(26, 16, 38,.9)
  ;
}

@layer utilities {
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}
