{{ $src := . }}
{{ $srcset := false }}

{{ with site.Params.imageOptimize }}
  {{ if .enabled }}
    {{ $format := (.format | default "") | strings.TrimLeft "." }}

    {{ range .responsiveSizes }}
      {{ $url := partial "image-optimize/imgproxy/request-url" (dict
        "src" $src
        "process_options" (printf "rs:fit:%s" (string .))
        "ext" $format)
      }}
      {{ $srcset = append (slice (printf "%s %sw" $url (string .))) (or $srcset slice) }}
    {{ end }}

    {{ with .defaultSize }}
      {{ $src = partial "image-optimize/imgproxy/request-url" (dict
        "src" $src
        "process_options" (printf "rs:fit:%s" (string .))
        "ext" $format)
      }}
    {{ end }}

  {{ end }}

{{ end }}

{{ return (dict "srcset" $srcset "src" $src) }}
