# OS files
.DS_Store
Thumbs.db

# npm packages
node_modules

# hugo build output & temp files
public
resoureces/_gen
**/resources/_gen
.hugo_build.lock
hugo_stats.json

# pagefind
**/static/pagefind

# dev secrets
.env
.env.local
