{{ define "main" }}
<div class="m-auto max-w-(--my-max-w) mt-2 px-4">
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-8 items-center justify-around mx-auto">
      <span class="text-center md:text-right block text-[8rem] md:text-[12rem] text-primary text-shadow-[9px_7px_1px] text-shadow-gray-200 font-semibold font-stretch-95% ">
        404
      </span>
      <div class="text-center md:text-left prose">
        <h1 class="">Oops!</h1>

        <p id="title">No encontramos la página que buscas.</p>
        <p id="title">Puedes ir a la <a href="/" class="">página principal</a> para ver los últimos contenidos de Etheria Magazine.</p>
        <p id="title">También te sugerimos nuestro último artículo de portada.</p>

      </div>
      <div class="not-prose md:col-span-2 my-4">
      {{ $latest := partial "home/latest-posts" }}
      {{ with index $latest 0 }}
        {{ .Render "hero" }}
      {{ end}}
      </div>
    </a>
  </div>
</div>
<script>document.addEventListener('DOMContentLoaded', function () { plausible('404'); });</script>

{{ end }}
