<!doctype html>
<html
  lang="{{ or   site.LanguageCode `en-US` }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "page/metatags.html" . }}
    {{ with (templates.Defer (dict "key" "global")) }}
      {{ partialCached "page/css.html" . }}
    {{ end }}
    {{ partialCached "page/scripts.html" . }}
  </head>

  <body>
    <a
      href="#main-content"
      class="bg-primary z-250 absolute left-0 top-0 -translate-y-full transform px-4 py-2 text-white transition focus:translate-y-0">
      Ir al contenido principal
    </a>
    {{ partial "header.html" . }}


    <main
      id="main-content"
      {{ cond .Params.pagefindIndex "data-pagefind-body" "" | safeHTMLAttr }}>
      {{ block "main" . }}{{ end }}
    </main>

    {{ partialCached "footer.html" . }}


    <div id="search"></div>

    {{/* {{ template "_internal/google_analytics.html" . }} */}}
    {{/* {{ partial "gdpr_consent.html" . }} */}}
  </body>
</html>
