{{ define "main" }}
  {{ $latestPosts := where site.RegularPages.ByLastmod.Reverse "Type" "posts" }}

  {{/* Featured posts */}}
  {{ with site.Params.home.selectFeaturedPostsFromCategories }}
    {{ $latestPosts := where $latestPosts "Params.categories" "intersect" . }}
  {{ end }}

  {{ $featuredPosts := first 5 $latestPosts }}

  {{ with (index $featuredPosts 0) }}
    {{ .Render "hero" }}
  {{ end }}

  <div
    class="mx-4 my-8 grid grid-cols-1 gap-4 gap-y-12 md:mx-12 md:grid-cols-4">
    {{ range first 4 (after 1 $featuredPosts) }}
      {{ .Render "summary" }}
    {{ end }}
  </div>

  {{/* Horizontal ads */}}
  {{ range partial "easyads/get.html" "home_1" }}
    <div class="my-8 flex items-center justify-center">
      {{ .Render "embed" }}
    </div>
  {{ end }}

  {{/* Newsletter */}}
  {{ partial "subscribe/form.html" }}

  {{/* Category list: etiher from config or all categories */}}
  {{ $categoryList := slice }}

  {{ with site.Params.home.categoryList }}
    {{ $categoryList = . }}
  {{ else }}
    {{ range $term, $v := .Site.Taxonomies.categories }}
      {{ $categoryList = $categoryList | append $term }}
    {{ end }}
  {{ end }}

  {{ range $categoryList }}
    {{ $weightedPages := index site.Taxonomies.categories . }}

    {{/* Use weighted pages for the TERM to check the category actually has pages to show */}}
    {{ with and (gt $weightedPages.Count 0) $weightedPages }}

      <section class="mt-20">
        {{ with .Page }}
          <header class="mx-4 my-12 md:mx-12">
            <h2
              class="text-primary font-stretch-85% my-4 text-3xl uppercase md:text-4xl">
              {{ .Title }}
            </h2>
            {{ .Description }}
          </header>
        {{ end }}

        {{ $categoryPosts := .Pages.ByLastmod.Reverse  | complement $featuredPosts | first 5 }}

        {{ with index $categoryPosts 0 }}
          {{ .Render "hero" }}
        {{ end }}


        <div class="mx-4 my-12 grid grid-cols-1 gap-4 md:mx-12 md:grid-cols-3">
          {{ range after 1 $categoryPosts }}
            {{ .Render "summary" }}
          {{ end }}
        </div>
        {{/* <aside class="bg-slate-50 rounded-2xl col-4 row-start-2 row-span-3 flex items-center justify-center border-3 border-dashed border-slate-300 text-lg text-slate-300">Publicidad</aside> */}}

      </section>
    {{ end }}

  {{ end }}

{{ end }}
