{{ define "main" }}
  {{ $posts := where site.RegularPages "Type" "posts"  }}
  {{ $posts = $posts.ByLastmod.Reverse  }}

  {{ $mainCategories := site.Params.mainCategories }}
  {{ $otherCategories := site.Params.otherCategories }}

  {{/* 1 Main cover story & recent */}}
  {{ $mainStories := (where $posts "Params.categories" "intersect" $mainCategories) | first 5 }}

  {{ with (index $mainStories 0) }}
    {{ .Render "hero" }}
  {{ end }}


  <div
    class="mx-4 my-8 grid grid-cols-1 gap-4 gap-y-12 md:mx-12 md:grid-cols-4">
    {{ range first 4 (after 1 $mainStories) }}
      {{ .Render "summary" }}
    {{ end }}
  </div>

  {{/* 2 Horizontal ad section */}}
  {{ range partial "easyads/get.html" "home_1" }}
    <div
      class="flex items-center justify-center my-8">
      {{ .Render "embed" }}
    </div>
  {{ end }}


  {{/* 3 Categoriy teasers */}}

  {{ range (append $otherCategories $mainCategories) }}
    {{ $weightedPages := index site.Taxonomies.categories . }}

    {{/* Use weighted pages for the TERM to check the category actually has pages to show */}}
    {{ with and (gt $weightedPages.Count 0) $weightedPages }}

      <section class="mt-20">
        {{ with .Page }}
          <header class="mx-4 my-12 md:mx-12">
            <h2
              class="text-primary font-stretch-85% my-4 text-3xl uppercase md:text-4xl">
              {{ .Title }}
            </h2>
            {{ .Description }}
          </header>
        {{ end }}


        {{ $categoryStories := .Pages.ByLastmod.Reverse  | complement $mainStories | first 5 }}


        {{ with index $categoryStories 0 }}
          {{ .Render "hero" }}
        {{ end }}


        <div class="mx-4 my-12 grid grid-cols-1 gap-4 md:mx-12 md:grid-cols-3">
          {{ range after 1 $categoryStories }}
            {{ .Render "summary" }}
          {{ end }}
        </div>
        {{/* <aside class="bg-slate-50 rounded-2xl col-4 row-start-2 row-span-3 flex items-center justify-center border-3 border-dashed border-slate-300 text-lg text-slate-300">Publicidad</aside> */}}

      </section>
    {{ end }}

  {{ end }}

{{ end }}
