{{ $posts := .posts }}
{{ $cols := .cols | default 3 }}
{{ $rendersAboveTheFold := .rendersAboveTheFold | default false }}

{{ with (index $posts 0) }}
  <div class="max-w-(--my-max-w) m-auto mt-8 px-4">
    {{ .Page.Store.Set "rendersAboveTheFold" $rendersAboveTheFold }}
    {{ .Render "hero" }}
  </div>
{{ end }}

<div
  class="max-w-(--my-max-w) md:grid-cols-{{ $cols }} m-auto my-8 grid grid-cols-1 gap-4 gap-y-8 px-4">
  {{ range (after 1 $posts) }}
    {{ .Render "summary" }}
  {{ end }}
</div>
