{{ with site.RegularPages.Related . | first 5 }}
  <aside class="max-w-[300px]" data-pagefind-ignore>
    <p class="text-lg">También te sugerimos</p>
    {{ range . }}
      <article class="mb-4 flex gap-2">
        <a href="{{ .RelPermalink }}">
          <div class="w-24 rounded-xl">
            {{ with partial "page/get-cover" . }}
              {{ partial "imgproxy/img" (dict "src" .src "alt" .alt "class" "shadow-lg aspect-square") }}
            {{ end }}
          </div>
        </a>

        <a href="{{ .RelPermalink }}">
          <h5 class="text-base">{{ .LinkTitle }}</h5>
        </a>
      </article>
    {{ end }}
  </aside>
{{ end }}
