{{ define "main" }}
  {{ $posts := where site.RegularPages "Type" "posts" }}


{{/*  render hero story   */}}
<div class="m-4 md:m-24 md:mt-4">
{{ range first 1 $posts }}
  {{ .Render "hero"}}
{{ end}}
</div>


{{ $categories := site.Taxonomies.categories }}

{{ range slice "viajar-sola" "viajar-con-amigas" "viajar-en-pareja" "viajar-en-familia" "inspiración" "cultura" "ocio" "gourmet" "bienestar" "compras"}}

  <section class="mt-12">
    {{ with site.GetPage (printf "/categories/%s" (. | urlize)) }}
      <h2 class="text-2xl">{{ .Title }}</h2>
      {{ .Description }}
    {{ else}}
      {{ . }}
    {{ end }}

    <div class="grid grid-cols-3 gap-8">

    {{ range first 3 ($categories.Get .) }}
      {{ .Render "summary" }}
    {{ end}}
    </div>
  </section>
{{ end}}





  {{ partial "subscribe/form" }}

  <div class="columns-2 gap-8">
    {{ range first 2 (after 5 $posts) }}
      {{ .Render "summary" }}
    {{ end }}
  </div>

  {{ range first 15 (after 7 $posts) }}
    {{ .Render "summary" }}
  {{ end }}

{{ end }}
