{{ $params :=  site.Params.subscribe }}


<div x-data="subscribeForm" class="h-full rounded-xl bg-gray-100 p-4 md:p-8">
  <div >
    <div class="text-center">
    <h2 class="text-3xl font-semibold">{{ $params.title }}</h2>

    <p class="mx-auto my-6 max-w-2xl text-lg font-light text-gray-400">
      {{ $params.textCallToAction }}
    </p>
  </div>
    <form
      @submit.prevent="submit"
      x-ref="form"
      class="flex flex-col items-center">
      <div class="w-full max-w-md">
      <div class="has-invalid:text-red-500 relative w-full ">
        <!-- Icono a la izquierda -->
        <span
          class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3 text-gray-500">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x-show="state == 'init'"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25H4.5a2.25
           2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5H4.5
           a2.25 2.25 0 0 0-2.25 2.25m19.5 0-9.75 6.75L2.25 6.75" />
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            x-show="state === 'processing'"
            class="inline h-5 w-5 animate-spin"
            fill="none"
            viewBox="0 0 24 24">
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            x-show="state === 'success'"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="3">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 13l4 4L19 7" />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x-show="state === 'error'"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="3">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v4m0 4h.01M12 2a10 10 0 100 20 10 10 0 000-20z" />
          </svg>
        </span>

        <!-- Input -->
        <input
          id="email"
          type="email"
          placeholder="{{ $params.inputPlaceholder }}"
          class="user-invalid:border-red-500 user-invalid:ring-red-500 user-invalid:focus:border-red-500 w-full rounded-lg border border-gray-300 bg-white px-10 py-2 text-gray-700 focus:border-blue-500 focus:outline-none focus:ring-2 disabled:text-gray-400"
          x-model="email_address"
          :disabled="state != 'init'"
          required />
      </div>
      <div class="ml-1 mt-2 flex items-center ">
        <input
          id="link-checkbox"
          type="checkbox"
          required
          x-model="accepts_privacy_policy"
          class="accent-primary/50 border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-brand-soft h-4 w-4 border focus:ring-2" />
        <label
          for="link-checkbox"
          class="text-heading ms-2 select-none text-sm">
          {{ $privacyPolicyText := $params.privacyPolicyText | default "I agree to [privacy policy and terms]" }}

          {{ with site.GetPage $params.privacyPolicyPath }}
            {{ $page := . }}

            {{ $matches := findRESubmatch `(.+)?\x5B(.+)\x5D(.+)?` $privacyPolicyText }}

            {{ with and $matches (index $matches 0) }}
              {{ index . 1 }}
              <a
                href="{{ $page.RelPermalink }}"
                class="font-medium hover:underline"
                tabindex="-1"
                >{{ index . 2 }}</a
              >
              {{ index . 3 }}
            {{ else }}
              <a
                href="{{ $page.RelPermalink }}"
                class="font-medium hover:underline"
                tabindex="-1"
                >{{ $privacyPolicyText }}</a
              >
            {{ end }}

          {{ else }}
            {{ $privacyPolicyText }}
          {{ end }}
        </label>
      </div>
      </div>
      <button
        type="submit"
        class="mt-8 flex items-center gap-1 rounded-3xl px-4 py-3 font-semibold text-white transition-colors"
        :disabled="state != 'init'"
        :class="{
            'bg-primary-600 hover:bg-primary-700': state === 'init' || state === 'processing',
            'bg-red-500 dismiss-10': state === 'error',
            'bg-lime-600 dismiss-10': state === 'success',
          }">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x-show="state === 'processing'"
          class="inline h-4 w-4 animate-spin text-white"
          fill="none"
          viewBox="0 0 24 24">
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x-show="state === 'success'"
          class="h-4 w-4 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="3">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 13l4 4L19 7" />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x-show="state === 'error'"
          class="h-4 w-4 text-white"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="3">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v4m0 4h.01M12 2a10 10 0 100 20 10 10 0 000-20z" />
        </svg>
        <span x-show="state === 'init'">
          {{ $params.buttonText.init }}
        </span>
        <span x-show="state === 'processing'">
          {{ $params.buttonText.processing }}
        </span>
        <span x-show="state === 'success'">
          {{ $params.buttonText.success }}
        </span>
        <span x-show="state === 'error'">
          {{ $params.buttonText.error }}
        </span>
      </button>
    </form>
    <div class="my-4">
      <div x-show="state === 'error'">
        <div class="mb-8 text-red-500">
          Parece que tuvimos problemas para realizar el alta en nuestra
          newsletter
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function subscribeForm() {
    let action = "{{ $params.action | safeJS }}";

    async function postForm(data) {
      const response = await fetch(action, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Accept: "application/json",
        },
        body: JSON.stringify(data),
      });

      if (!response.ok) {
        throw new Error("Response error");
      }

      return await response.json();
    }

    return {
      state: "init",
      response: null,
      email_address: "",
      accepts_privacy_policy: false,

      getButtonText() {
        return buttonText[this.state] ?? "uknown";

      },

      reset() {
        this.$refs.form.reset();
        this.response = null;
        this.state = "init";
      },

      async submit() {
        this.state = "processing";

        const awaitTimeout = (delay, result) =>
          new Promise((resolve) => setTimeout(resolve, delay, result));

        const rejectTimeout = (delay, result) =>
          new Promise((resolve, reject) => setTimeout(reject, delay, result));

        try {
          const { email_address, accepts_privacy_policy } = this;

          const [response, timeout] = await Promise.all([
            postForm({
              email_address,
              accepts_privacy_policy,
            }),
            awaitTimeout(2500, "timeout"), // minimum delay
          ]);
          this.response = response;
          this.state = "success";
        } catch (err) {
          this.state = "error";
          console.log(err);
        } finally {
          await awaitTimeout(9000);
          this.reset();
        }
      },
    };
  }
</script>
