{{/*  {{ $params := merge (dict "ext" "avif" "process_options" "" ) . }}  */}}
{{ $params := .}}
{{ $path := "" }}
{{ $host := "" }}
{{ $sourceStyle := ""}}
{{/*  {{ $host := site.Params.imageOptimize.imgproxy.ho st | strings.TrimRight "/" }}  */}}

{{ with site.Params.imageOptimize.imgproxy }}
  {{ $host = .host | strings.TrimRight "/" }}
  {{ $sourceStyle = .sourceStyle }}
{{ end}}

{{ with . }}
  {{ $src := .src }}
  {{ $ext := .ext | strings.TrimLeft "." }}
  {{ $process_options :=  .process_options | strings.TrimLeft "/" | strings.TrimRight "/" }}

  {{ if eq $sourceStyle "encoded" }}
      {{ $encoded_src := partial "image-optimize/imgproxy/base64-encode" $src }}
      {{ $path = printf "/%s/%s" $process_options $encoded_src }}
      {{ if $ext }}
        {{ $path = printf "%s.%s" $path $ext}}
      {{ end }}
  {{ else }}
      {{ $path = printf "/%s/plain/%s" $process_options $src }}
      {{ if $ext }}
        {{ $path = printf "%s@%s" $path $ext}}
      {{ end }}

  {{ end }}

{{ end }}
{{ $signature := partial "image-optimize/imgproxy/signature" $path }}
{{ return (printf "%s/%s%s" $host $signature $path) }}

