{{ $img := $.Page.Resources.GetMatch (.Get "src")}}
{{ $href := .Get "href" }}
{{ $alt := .Get "alt" }}

<div class="whatever2">
{{ if and $img $href }}
<a
  {{ with $href }}
  href="{{ . }}"
  {{ end }}>
  <img
    src="{{ $img.RelPermalink }}"
    {{ with $alt }}
    alt="{{ . }}"
    {{ end }}
    />
</a>
{{ else if $img }}
  <img
  src="{{ $img.RelPermalink }}"
  {{ with $alt }}
  alt="{{ . }}"
  {{ end }}
  />
{{ else }}
  {{ errorf "No resource found for %s" (.Get "src") }}
{{ end }}
</div>
