{{- /*
  Renders an image tag using the configured imgproxy.

  Required context vars:
  - [src]: original source image

  Optional:
  - [alt]: alt text.
  - [loading=lazy]: Loading attribute, lazy or eager.
  - [decoding=async]: Decoding attribute, async or sync?
  - [fetchpriority=false]: If set to 'high', preaload image
*/}}
{{ $src := .src }}

{{ $srcset := false }}
{{ $original := false }}

{{ $loading := .loading | default "lazy" }}
{{ $decoding := .decoding | default "async" }}
{{ $fetchpriority := .fetchpriority | default false }}

{{ $format := site.Params.imgproxy.format | default "" | strings.TrimLeft "." }}
{{ $process := site.Params.imgproxy.process | default "rs:fit:900" }}

{{ with urls.Parse $src }}
  {{ if not .IsAbs }}
    {{ with or ($.Page.Resources.Get .Path) (resources.Get .Path) }}
      {{ $src = .Permalink }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if site.Params.imgproxy.enabled }}
  {{ $original = $src }}

  {{ $src = partial "imgproxy/url" (dict
    "src" $original
    "processingOptions" $process
    "format" $format)
  }}

  {{ with (and site.Params.imgproxy.responsive.enabled site.Params.imgproxy.responsive.srcset) }}
    {{ range . }}
      {{ $url := partial "imgproxy/url" (dict
        "src" $original
        "processingOptions" .process
        "format" $format)
      }}
      {{ $srcset = append (slice (printf "%s %s" $url .size)) (or $srcset slice) }}
    {{ end }}
  {{ end }}

{{ end }}

{{ with $original }}
  {{ printf "<!-- %s -->" . | safeHTML }}
{{ end }}
<img
  {{ with .class }}
    class="{{ . }}"
  {{ end }}
  {{ with $src }}
    src="{{ . | safeURL }}"
  {{ end }}
  {{ with $srcset }}
    srcset="{{ delimit . ",\n" | safeHTMLAttr }}"
  {{ end }}
  {{ with (and $srcset .sizes) }}
    sizes="{{ . | safeHTMLAttr }}"
  {{ end }}
  {{ with .alt }}
    alt="{{ . }}"
  {{ end }}
  {{ with .title }}
    title="{{ . }}"
  {{ end }}
  {{ with $loading }}
    loading="{{ . }}"
  {{ end }}
  {{ with $decoding }}
    decoding="{{ . }}"
  {{ end }}
  {{ with $fetchpriority }}
    fetchpriority="{{ . }}"
  {{ end }} />
