{{ $src := .src }}
{{ $srcset := false }}
{{ $original := false }}

{{ $loading := .loading | default "lazy" }}
{{ $decoding := .decoding | default "async" }}
{{ $fetchpriority := .fetchpriority | default false }}

{{ with urls.Parse $src }}
  {{ if not .IsAbs }}
    {{ with or ($.Page.Resources.Get .Path) (resources.Get .Path) }}
      {{ $src = .Permalink }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if site.Params.imgproxy.enabled }}
  {{ $original = $src }}

  {{ with partial "imgproxy/responsive-urls" $src }}
    {{ $src = .src }}
    {{ $srcset = .srcset }}
  {{ end }}
{{ end }}

{{ with $original }}
  {{ printf "<!-- %s -->" . | safeHTML }}
{{ end }}
<img
  {{ with .class }}
    class="{{ . }}"
  {{ end }}
  src="{{ $src | safeURL }}"
  {{ with $srcset }}
    srcset="{{ delimit . "," | safeHTMLAttr }}"
  {{ end }}
  {{ with .alt }}
    alt="{{ . }}"
  {{ end }}
  {{ with .title }}
    title="{{ . }}"
  {{ end }}
  {{ with $loading }}
    loading="{{ . }}"
  {{ end }}
  {{ with $decoding }}
    decoding="{{ . }}"
  {{ end }}
  {{ with $fetchpriority }}
    fetchpriority="{{ . }}"
  {{ end }} />
