{{/* Returns the optimized imgproxy url for the passed options */}}
{{ $src := .src }}
{{ $processingOptions := .processingOptions | strings.TrimLeft "/" | strings.TrimRight "/" }}
{{ $ext := .format | strings.TrimLeft "." }}

{{ $requestUrl := false}}

{{ with (and site.Params.imgproxy.enabled site.Params.imgproxy) }}
  {{ $host := .host | strings.TrimRight "/" }}
  {{ $sourceStyle := .sourceStyle | default "plain" }}

  {{ $path := "" }}

  {{ if eq $sourceStyle "encoded" }}
    {{ $path = printf "/%s/%s" $processingOptions (partial "imgproxy/base64" $src) }}

    {{ if $ext }}
      {{ $path = printf "%s.%s" $path $ext }}
    {{ end }}

  {{ else if eq $sourceStyle "plain" }}
    {{ $path = printf "/%s/plain/%s" $processingOptions $src }}

    {{ if $ext }}
      {{ $path = printf "%s@%s" $path $ext }}
    {{ end }}

  {{ end }}

  {{ $requestUrl = printf "%s/%s%s" $host (partial "imgproxy/signature" $path) $path }}

{{ end }}

{{ return (or $requestUrl $src) }}
