{{ $defaults := (dict "type" "plain") }}

{{ with merge $defaults (or .Params.easyads dict) }}

  {{ if eq .type "image" }}
    {{ $img := or ($.Resources.Get .image) (index ($.Resources.ByType "image") 0) }}
    {{ $alt := or .alt $.Title }}
    {{ $url := .url }}

    {{ if not $url }}
      {{ errorf "[easyads] missing target url for ad. Set 'url' key in %s" $.Path }}
    {{ end }}


    <a
      {{ with $url }}
        href="{{ . }}"
      {{ end }}>
      <img
        src="{{ $img.RelPermalink }}"
        {{ with $alt }}
          alt="{{ . }}"
        {{ end }} />
    </a>
  {{ else if eq .type "responsive" }}

    {{ $img := or ($.Resources.Get .image) (index ($.Resources.ByType "image") 0) }}
    {{ $alt := or .alt $.Title }}
    {{ $url := .url }}

    {{ if not $url }}
      {{ errorf "[easyads] missing url for ad. Set 'url' frontmatter key in %s" $.Path }}
    {{ end }}

    {{ with .images }}

      {{ $mobile := $.Resources.Get .mobile }}
      {{ $desktop := $.Resources.Get .desktop }}

      {{ if not $mobile }}
        {{ errorf "[easyads] missing mobile image for responsive ad. Set 'images.mobile' frontmatter key in %s" $.Path }}
      {{ end }}

      {{ if not $desktop }}
        {{ errorf "[easyads] missing desktop image for responsive ad. Set 'images.desktop' frontmatter key in %s" $.Path }}
      {{ end }}


      <a
        {{ with $url }}
          href="{{ . }}"
        {{ end }}>
        <picture>
          {{ with $desktop }}
            <source media="(width >= 40em)" srcset="{{ .RelPermalink }}" />
          {{ end }}
          {{ with $mobile }}
            <img
              src="{{ .RelPermalink }}"
              {{ with $alt }}
                alt="{{ . }}"
              {{ end }} />
          {{ end }}
        </picture>
      </a>
    {{ else }}
      {{ errorf "[easyads] no images specified for 'responsive' ad type. Set 'images' in frontmatter in %s" $.Path }}
    {{ end }}

  {{ else if eq .type "iframe" }}

    {{ $width := .width }}
    {{ if not $width }}
      {{ errorf "[easyads] missing width param is 'iframe' ad. Set width in frontmatter in %s" $.Path }}
    {{ end }}

    {{ $height := .height }}
    {{ if not $height }}
      {{ errorf "[easyads] missing height param for 'iframe' ad. Set height in frontmatter in %s" $.Path }}
    {{ end }}


    <iframe
      src="{{ $.Page.RelPermalink }}"
      loading="lazy"
      width="{{ $width }}"
      height="{{ $height }}"
      scrolling="no"></iframe>
  {{ else if eq .type "plain" }}
    {{ $.Content }}
  {{ else }}
    {{ errorf "[easyads] Unknown ad type %q in %s" .type $.Path }}
  {{ end }}
{{ end }}
