{{ if .IsHome }}
  <script type="application/ld+json">
    {{-
        partial "json-ld/website" .
        | jsonify (dict "indent" "  " )
        | safeJS
    -}}
  </script>
{{ else if .IsPage }}
  <script type="application/ld+json">
    {{-
        partial "json-ld/article" .
        | jsonify (dict "indent" "  " )
        | safeJS
    -}}
  </script>
{{ end }}

{{ define "partials/json-ld/article.html" }}
  {{ $s := newScratch }}
  {{ $s.Set "@context" "http://schema.org" }}
  {{ $s.Set "@type" "Article" }}

  {{ with or .Title site.Title | plainify }}
    {{ $s.Set "headline" . }}
  {{ end }}

  {{ with .Params.cover }}
    {{ $s.Set "image" . }}
  {{ end }}

  {{ with .PublishDate }}
    {{ $s.Set "datePublished" ( . | time) }}
  {{ end }}

  {{ $s.Set "publisher" (partialCached "json-ld/publisher.html" .) }}

  {{ $s.Set "inLanguage" site.Language.Lang }}

  {{ with .WordCount }}
    {{ $s.Set "wordCount" . }}
  {{ end }}

  {{ with .GetTerms "authors" }}
    {{ $s.Set "authors" slice }}
    {{ range . }}
      {{ $s.Add "authors" (partial "json-ld/author" .) }}
    {{ end }}
  {{ end }}

  {{ return $s.Values }}
{{ end }}

{{ define "partials/json-ld/website.html" }}
  {{ $s := newScratch }}

  {{ $s.Set "@context" "http://schema.org" }}
  {{ $s.Set "@type" "WebSite" }}

  {{ with or .Params.meta_title site.Title | plainify }}
    {{ $s.Set "name" . }}
  {{ end }}

  {{ with site.BaseURL }}
    {{ $s.Set "url" . }}
  {{ end }}

  {{ with or .Params.meta_description site.Params.metadata.description site.Title }}
    {{ $s.Set "description" . }}
  {{ end }}

  {{ with site.Language.Lang }}
    {{ $s.Set "inLanguage" . }}
  {{ end }}

  {{ $s.Set "publisher" (partial "json-ld/publisher") }}
  {{ return $s.Values }}
{{ end }}

{{ define "partials/json-ld/publisher.html" }}
  {{ $s := newScratch }}
  {{ $s.Set "@type" "Organization" }}
  {{ $s.Set "name" (or site.Params.metadata.author site.Title) }}
  {{ $s.Set "url" site.BaseURL }}


  {{ $paths := slice "static/images/logo.png" "static/images/logo.svg" "static/img/logo.png" "static/img/logo.svg" }}

  {{ range $paths }}
    {{ with and (fileExists . ) . }}
      {{ $s.Set "image" (printf "%s/%s" (strings.TrimSuffix "/" site.BaseURL)  (strings.TrimPrefix "static/" . )) }}
    {{ end}}
  {{ end }}

  {{ with or site.Params.metadata.author_urls (slice site.BaseURL) }}
    {{ $s.Set "sameAs" . }}
  {{ end }}
  {{ return $s.Values }}
{{ end }}

{{ define "partials/json-ld/author.html" }}
  {{ $s := newScratch }}
  {{ $s.Set "@type" "Person" }}
  {{ $s.Set "name" .Title }}
  {{ $s.Set "description" .Params.description }}
  {{ $s.Set "image" (printf "https://gravatar.com/avatar/%s" (sha256 .Params.email)) }}

  {{ with .Params.jobTitle }}
    {{ $s.Set "jobTitle" . }}
  {{ end }}
  {{ with .Params.knowsAbout }}
    {{ $s.Set "knowsAbout" . }}
  {{ end }}

  {{ if or .Params.instagram .Params.linkedin }}
    {{ $s.Set "sameAs" slice }}

    {{ with .Params.instagram }}
        {{ $s.Add "sameAs" (printf "https://instagram.com/%s" .) }}
    {{ end }}

    {{ with .Params.linkedin }}
        {{ $s.Add "sameAs" (printf "https://linkedin.com/in/%s" .) }}
    {{ end }}

  {{ end }}



  {{ return $s.Values }}
{{ end }}
