{{ define "main" }}
  {{ $category := .Params.category }}
  {{ $destino := .Params.destino }}

  {{ $pages := .Pages }}

  {{ if (and $category $destino) }}
    {{ $pages = site.RegularPages }}
    {{ $pages = where site.RegularPages ".Params.categories" "intersect" (slice $category) }}
    {{ $pages = where $pages "Params.destino" "intersect" (slice $destino (lower $destino)) }}
  {{ end }}


  <div class="mt-12 md:mx-32">


      <h1 class="text-primary text-3xl font-light uppercase font-stretch-semi-condensed md:text-4xl">{{ .Title }}</h1>
      {{ .Description }}

      {{ .Content }}


      <div class="grid grid-cols-1 sm:grid-cols-4 gap-y-8 mt-4 gap-2">
        {{ range $pages }}
          {{ .Render "summary" }}
        {{ end }}
      </div>

  </div>
  {{/* {{ partial "components/pagination.html" . }} */}}
{{ end }}
