{{ define "main" }}
  {{ $category := .Params.category }}
  {{ $tag := .Params.tag }}

  {{ $pages := .Pages.ByLastmod.Reverse }}

  {{ if (and $category $tag) }}
    {{ $pages = site.RegularPages }}
    {{ $pages = where site.RegularPages ".Params.categories" "intersect" (slice $category) }}
    {{ $pages = where $pages "Params.tags" "intersect" (slice $tag (lower $tag)) }}
  {{ end }}


  <div class="mt-12 md:mx-32">
    <h1
      class="text-primary font-stretch-semi-condensed text-3xl font-light uppercase md:text-4xl">
      {{ .Title }}
    </h1>
    {{ .Description }}

    {{ .Content }}


    <div class="mt-4 grid grid-cols-1 gap-2 gap-y-8 sm:grid-cols-4">
      {{ range $pages }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
  </div>
  {{/* {{ partial "components/pagination.html" . }} */}}
{{ end }}
