
<div  class="bg-gray-500 text-base text-white">
    <div class="container mx-auto">


        <div class="text-white flex justify-start">
            <svg viewBox="0 0 100.001 66.525" class="flex-1 max-w-80">
                <title>Etheria Magazine</title>
                <use xlink:href="#logo"></use>
            </svg>
        </div>

        <p>
            Etheria Magazine es una revista de viajes española dirigida a mujeres inquietas y apasionadas que les encanta viajar. Aquí encontrarás artículos de calidad, elaborados por periodistas profesionales, que te ayudarán a organizar tus escapadas tanto si viajas sola como con amigas, en pareja o en familia. *Todos los contenidos tienen derechos de autor por lo que queda expresamente prohibida su reproducción total o parcial sin el consentimiento del medio.
        </p>
        
        <p>Copyright {{ now.Year }}. All rights reserved.</p>        
    </div>
</div>