
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  {{ if .IsHome }}
    {{- site.Title }}
  {{ else }}
    {{- printf "%s | %s" .Title site.Title -}}
  {{- end }}
</title>
{{/* preload resources */}}
<link
  rel="preload"
  as="font"
  href="/fonts/roboto-v30-latin_latin-ext-regular.woff2"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  as="font"
  href="/fonts/PlayfairDisplay-VariableFont_wght.ttf"
  type="font/ttf"
  crossorigin
/>
<link
  rel="preload"
  as="font"
  href="/fonts/Lato-Regular.ttf"
  type="font/ttf"
  crossorigin
/>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
{{ partial "jsonld/head" . }}

{{/* low priority links */}}
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/png" href="/favicon.png" />
