<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=5" />

<link
  rel="preload"
  as="font"
  href="/fonts/roboto-v30-latin_latin-ext-regular.woff2"
  type="font/woff2"
  crossorigin />
<link
  rel="preload"
  as="font"
  href="/fonts/PlayfairDisplay-VariableFont_wght.ttf"
  type="font/ttf"
  crossorigin />
<link
  rel="preload"
  as="font"
  href="/fonts/Lato-Regular.ttf"
  type="font/ttf"
  crossorigin />

{{/* low priority links */}}
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/png" href="/favicon.png" />


<!-- opengraph -->
{{- partial "basic-seo.html" . -}}

<!-- json-ld -->
{{- partial "json-ld.html" . -}}

<!-- Plausible Analytics -->
{{- partial "plausible-analytics.html" . -}}
