{{define "main" }}

{{ $posts := where site.RegularPages "Type" "posts" }}
{{/*  {{ $posts = shuffle $posts}}  */}}

<div class="md:mx-10">

  <h2 class="text-2xl">"hero.html"</h1>
    <div class="">
    {{ range first 3 $posts }}
      {{ .Render "hero2" }}
    {{ end }}
    </div>


  <div class="grid grid-cols-5 grid-rows-1 hero">
    {{ range $i, $p := first 5 $posts }}
      {{ $p.Render "hero2" }}
    {{ end }}
  </div>

  <div class="grid grid-cols-4 grid-rows-1 hero">
    {{ range $i, $p := first 4 $posts }}
      {{ $p.Render "hero2" }}
    {{ end }}
  </div>

  <div class="grid grid-cols-3 grid-rows-1 hero">
    {{ range $i, $p := first 3 $posts }}
      {{ $p.Render "hero2" }}
    {{ end }}
  </div>

  <div class="grid grid-cols-2 grid-rows-1 hero">
    {{ range $i, $p := first 2 $posts }}
      {{ $p.Render "hero2" }}
    {{ end }}
  </div>

</div>

{{ end }}
