<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=5" />

<link
  rel="preload"
  as="font"
  href="/fonts/MonaSansVF[wdth,wght,opsz].woff2"
  type="font/woff2"
  crossorigin />

<link
  rel="preload"
  as="image"
  href="/img/icons.svg"
  type="image/svg+xml"
  fetchpriority="high" />

{{/* low priority links */}}
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/png" href="/favicon.png" />

<!-- opengraph -->
{{- partial "basic-seo.html" . -}}

<!-- json-ld -->
{{- partial "json-ld.html" . -}}

<!-- plausible -->
{{- partial "plausible.html" . -}}
