{{/*
  Renders aside in the context of a
*/}}

{{ $i := .Page.Store.Get "aside_counter" | default 0 | add 1 }}
{{ .Page.Store.Add "aside_counter" 1 }}

<aside class="aside not-prose hidden md:block" data-aside-num="{{$i}}">
  <div class=" top-4">
    {{/* Cycle through lateral_1, related, lateral_2, related */}}
    {{ if in (slice 1 3) $i }}
      {{ $group_num := add (div $i 2)  1 }}
      {{ $group_name := (printf "side_%d" $group_num) }}
      {{ printf "<!-- ad-group %s -->" $group_name | safeHTML }}

      {{ range partial "easyads/get.html" $group_name }}
        <div
          class="flex items-center justify-center rounded-4xl overflow-clip shadow-2xl mb-12">
          {{ .Render "embed" }}
        </div>
      {{ end }}


    {{ else if in (slice 2 4) $i }}
        <div class="observe-ads">

      {{ partial "related" . }}
    </div>

    {{ end }}
  </div>
</aside>
