
{{/*

  Authored by Germán!

  Big article story that can accomodate various sizes.

  - It uses grid for overlay positioning See https://css-tricks.com/positioning-overlay-content-with-css-grid/

  - It uses of `place-items-center` on the container, as `justify-items-center`
    makes the image not span to the full width of the container or grid cell

  - It sets places children directly with place-self-stretch and place-self-center

  - The image expands horizontally by place-self-stretch and h-full vertically

  - We provide a default aspect ratio of 3/2 that can be overriden in a container:
    <div class="[&_article_img]:aspect-[16/10]">
    {{ with index $posts 0 }}
      {{ .Render "hero" }}
    {{ end }}

  - It provides some drop shadows for the text and a light linear gradient styling the ::after
    pseudoelement.

    </div>
*/}}
<article class="grid m-4 grid-rows-[3fr_auto_auto_auto_1fr] *:col-1 text-white text-center">
  <a class="row-span-full" href="{{ .RelPermalink }}">
    {{ with partial "page/get-cover" . }}
      {{ partial "imgproxy/img" (dict
        "src" .src
        "alt" .alt
        "class" "w-full object-cover aspect-[16/8] max-sm:aspect-square"
        "loading" "eager"
        "fetchpriority" "high") }}
    {{ end }}
  </a>
  <span class="row-2">
    {{ with index (.GetTerms "categories") 0}}
      <a
        href="{{ .RelPermalink }}"
        class=" underline "
        >{{ or .Params.name .Title }}</a>
    {{ end }}
    /
    {{ with index (.GetTerms "destino") 0}}
      <a
        href="{{ .RelPermalink }}"
        class=" underline "
        >{{ or .Params.name .Title }}</a
      >
    {{ end }}
  </span>
  <h2 class="row-3 text-2xl font-overlay md:text-3xl lg:text-4xl ">
    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  </h2>
  <p class="hidden md:visible line-clamp-3 break-words">{{ .Summary | plainify }}</p>
  <span class="row-4">
    <time
    datetime="{{ .Date | time.Format "2006-01-02" }}"
    data-pagefind-ignore>{{ .Date | time.Format site.Params.dateFormatShort }}</time> por
    {{ with index (.GetTerms "authors") 0 }}
      {{ .Title }}
    {{ end }}
  </span>


</article>

