{{/* This template renders an advertisement. It uses the page's scratchpad to
  increment an ad counter for the page and computes the next ad to show, cycling
  though the list of active ads for the site.
*/}}

{{ .Page.Store.Add "page-ad-count" 1 }}

{{ $ad_list := (partialCached "ads" "sidebar") }}
{{ $ad_count := .Page.Store.Get "page-ad-count" }}


<aside>
  <div class="not-prose flex flex-col items-center">
    <span class="my-2 text-gray-300 text-sm uppercase">
      Espacio aa {{ $ad_count }}
    </span>
    <div class="rounded-4xl overflow-clip shadow-2xl ">
      {{ with (index $ad_list (mod $ad_count (len $ad_list))) }}
        {{ .Content }}
      {{ end }}
    </div>
  </div>
</aside>

