{{ define "main" }}
  <article>

    <div class="mx-auto px-4 md:px-8 lg:sky-grid prose md:prose-lg max-w-none">
      <header class="!col-end-14 not-prose prose-base mb-8">
        <h1 class="my-6 text-3xl md:text-4xl font-semibold text-primary-600">
          {{ .Title }}
        </h1>
        <ul class="flex" data-pagefind-ignore>
          <li>
            {{ with .GetTerms "categories" }}
              {{ range . }}
                <a
                  class="mr-2 text-primary-600 uppercase"
                  href="{{ .RelPermalink }}"
                  >{{ .LinkTitle }}</a
                >
              {{ end }}
            {{ end }}
          </li>
          <li>
            <time
            class="text-slate-500"
            datetime="{{ .Date | time.Format "2006-01-02" }}"
            data-pagefind-ignore
            >{{ .Date | time.Format ":date_medium" }}</time>
          </li>
        </ul>
      </header>
      {{ .Render "next-ad" }}
      {{ .Content }}
    </div>

  </article>
{{ end }}
