<article class="transition-transform hover:-translate-y-1 hover:drop-shadow-lg hover:drop-shadow-primary-900/25">
  <header class="grid h-full grid-rows-[auto_auto_minmax(auto,1fr)_auto_auto] gap-2">
    <div class="row-1 flex gap-2">
      {{ with .GetTerms "tags" }}
        {{ range . }}
          <span class="text-sm font-medium"
            >{{ or .Params.name .Title }}</span
          >
        {{ end }}
      {{ else }}
        {{ range first 1 (.GetTerms "categories") }}
          <span class="text-sm font-medium">{{.Title}}</span>
        {{ end }}
      {{ end }}
    </div>
    <a class="row-2 peer" href="{{ .RelPermalink }}">
      {{ with partial "page/get-cover" . }}
        {{ partial "imgproxy/img" (dict "src" .src "alt" .alt "class" "transition w-full object-cover aspect-[3/2]") }}
      {{ end }}

    </a>

    <h2
      class="row-3 text-xl font-bold tracking-tight text-gray-900 dark:text-white hover:underline peer-hover:underline">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>

    <p class="row-4 mb-2 md:mb-4 line-clamp-3 break-words md:hidden">
      {{ .Summary | plainify }}
    </p>

    <span class="row-5 align-self-end flex-none text-gray-900 text-sm font-medium">
      <time
        datetime="{{ .Date | time.Format "2006-01-02" }}"
        data-pagefind-ignore
        >{{ .Lastmod | time.Format site.Params.skytheme.dateFormatShort }}</time
      >
      {{ with index (.GetTerms "authors") 0 }}
        por
        {{ .Title }}
      {{ end }}
    </span>
  </header>
</article>
